.c-image-slider {
  --animation-duration: 1000ms;
  --animation-not-current: none;
  --animation: none;

  &.slide-left {
    --animation: slideInLeft;
    --animation-not-current: slideOutLeft;
  }

  &.slide-right {
    --animation: slideInRight;
    --animation-not-current: slideOutRight;
  }

  .c-slider {
    @apply relative;

    .c-slides {
      @apply grid overflow-hidden;
    }
  }

  .c-image {
    @apply row-start-1 col-start-1 aspect-video object-cover pointer-events-none;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    &.current {
      @apply z-10;
      animation-name: var(--animation);
    }

    &.prev {
      @apply z-10;
    }

    &:not(.current) {
      animation-name: var(--animation-not-current);
    }
  }

  .c-indicators {
    @apply md:absolute md:left-0 md:right-0 md:bottom-4 z-20;
    @apply flex justify-center gap-3 mmd:mt-2;

    .c-indicator {
      @apply w-6 h-6 grid place-items-center;
      @apply duration-300 ease-out;

      .c-line {
        @apply w-full h-[2px] bg-primary-60 drop-shadow-[0_0_1px_hsl(0_0%_0%)];
        @apply duration-300 ease-out pointer-events-none;
      }

      &:hover .c-line {
        @apply bg-primary-80;
      }

      &.current {
        @apply w-8 pointer-events-none;

        .c-line {
          @apply bg-primary-100;
        }
      }
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
