:root {
  --w-xl: calc(1440px - 2rem);
  --w-lg: calc(1280px - 2rem);
  --w-md: calc(960px - 2rem);
  --w-sm: calc(600px - 2rem);
}

$max-w-xl: 1440px;
$max-w-lg: 1280px;
$max-w-md: 960px;
$max-w-sm: 600px;

.w-xl, .w-lg, .w-md, .w-sm {
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.w-xl {
  max-width: var(--w-xl);

  @media (max-width: $max-w-xl) {
    margin: 0 1rem;
  }
}

.w-lg {
  max-width: var(--w-lg);

  @media (max-width: $max-w-lg) {
    margin: 0 1rem;
  }
}

.w-md {
  max-width: var(--w-md);

  @media (max-width: $max-w-md) {
    margin: 0 1rem;
  }
}

.w-sm {
  max-width: var(--w-sm);

  @media (max-width: $max-w-sm) {
    margin: 0 1rem;
  }
}