h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .text {
  margin-top: 2rem;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: 3.5rem;
  line-height: 3.75rem;
}

h2, .h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h6, .h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

p, .text {
  margin-top: 0;
  margin-bottom: 1rem;
}