*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
  --color-foreground: hsl(0, 0%, 0%);
  --color-background: hsl(0, 0%, 100%);
}

html,
body {
  width: 100%;
  height: 100%;
  font: 16px/1.5 sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@import "./breakpoints";
@import "./fonts";

nav > menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import "./header";
@import "./footer";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#main-content {
  width: 100%;
  flex: 1;
  margin-top: var(--header-height);
}

section {
  &.bg {
    &__primary {
      background-color: hsl(0, 0%, 5%);
      color: var(--color-background);
    }

    &__secondary {
      background-color: hsl(0, 0%, 95%);
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-foreground);
  padding: 1rem;
  margin: 1rem auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
