.section {
  --column-size: 96px;
  --column-count: 12;
  --column-span: 12;
  --column-start: 2;
  display: grid;
  grid-template-columns: auto repeat(var(--column-count), var(--column-size)) auto;
  gap: 1rem;

  .grid-container {
    grid-column: var(--column-start) / span var(--column-span);
    display: grid;
    grid-template-columns: repeat(var(--column-count), var(--column-size));
    gap: 1rem;
  }

  &.width-full {
    --column-start: 1;
    --column-size: 1fr;
    grid-template-columns: repeat(var(--column-count), var(--column-size));
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @container (width < 1360px) {
    --column-size: 1fr;
  }

  @container (width < 1024px) {
    --column-count: 6;
    --column-span: 6;
  }

  @container (width < 768px) {
    --column-count: 4;
    --column-span: 4;
  }

  &.width-xl {
    --column-span: 10;

    &.align-center {
      --column-start: 3;
    }

    &.align-right {
      --column-start: 4;
    }

    @container (width < 1024px) {
      --column-span: 6;

      &.align-center {
        --column-start: 2;
      }

      &.align-right {
        --column-start: 2;
      }
    }

    @container (width < 768px) {
      --column-span: 4;
    }
  }

  &.width-lg {
    --column-span: 8;

    &.align-center {
      --column-start: 4;
    }

    &.align-right {
      --column-start: 6;
    }

    @container (width < 1024px) {
      --column-span: 4;

      &.align-center {
        --column-start: 3;
      }

      &.align-right {
        --column-start: 4;
      }
    }

    @container (width < 768px) {
      &.align-center {
        --column-start: 2;
      }

      &.align-right {
        --column-start: 2;
      }
    }
  }

  &.width-md {
    --column-span: 6;

    &.align-center {
      --column-start: 5;
    }

    &.align-right {
      --column-start: 8;
    }

    @container (width < 1024px) {
      --column-span: 4;

      &.align-center {
        --column-start: 3;
      }

      &.align-right {
        --column-start: 4;
      }
    }

    @container (width < 768px) {
      &.align-center {
        --column-start: 2;
      }

      &.align-right {
        --column-start: 2;
      }
    }
  }

  &.width-sm {
    --column-span: 4;

    &.align-center {
      --column-start: 6;
    }

    &.align-right {
      --column-start: 10;
    }

    @container (width < 1024px) {
      --column-span: 2;

      &.align-center {
        --column-start: 4;
      }

      &.align-right {
        --column-start: 6;
      }
    }

    @container (width < 768px) {
      &.align-center {
        --column-start: 3;
      }

      &.align-right {
        --column-start: 4;
      }
    }
  }

  &.width-xs {
    --column-span: 2;

    &.align-center {
      --column-start: 7;
    }

    &.align-right {
      --column-start: 12;
    }

    @container (width < 1024px) {
      &.align-center {
        --column-start: 4;
      }

      &.align-right {
        --column-start: 6;
      }
    }

    @container (width < 768px) {
      &.align-center {
        --column-start: 3;
      }

      &.align-right {
        --column-start: 4;
      }
    }
  }

  .section-container {
		grid-column: var(--column-start) / span var(--column-span);
    gap: 1rem;
  }

  &.height-full {
    @apply items-center;
    flex: auto;
  }

  &.bg-gray {
    @apply bg-primary-95;
  }

  &.bg-dark {
    --color-headline: hsl(0, 0%, 100%);
    --color-body: hsl(0, 0%, 80%);
    @apply bg-primary-5;
  }

  $sizes: (
    x-large: clamp(6rem, 10vw, 10rem),
    large: clamp(3rem, 10vw, 4rem),
    medium: clamp(2rem, 10vw, 3rem),
    small: clamp(1rem, 10vw, 2rem),
  );

  $spacings: (
    mt: margin-top,
    mb: margin-bottom,
    pt: padding-top,
    pb: padding-bottom,
  );

  @each $spacing-name, $spacing-value in $spacings {
    @each $size-name, $size-value in $sizes {
      &.#{$spacing-name}-#{$size-name} {
        #{$spacing-value}: $size-value;
      }
    }
  }

  $spacingsY: (
    my: (
      margin-top,
      margin-bottom,
    ),
    py: (
      padding-top,
      padding-bottom,
    ),
  );

  @each $spacing-name, $spacing-values in $spacingsY {
    @each $size-name, $size-value in $sizes {
      &.#{$spacing-name}-#{$size-name} {
        @each $spacing-value in $spacing-values {
          #{$spacing-value}: $size-value;
        }
      }
    }
  }
}
